.tag_container {
  padding: 10px; /* Add padding for content spacing */
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Allow content to wrap to the next line if necessary */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.tag {
  margin-right: 8px;
  margin-top: 1%;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.details {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.related-anime {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.related-anime .title {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.publication-date {
  font-style: italic;
  color: #777;
}

.details_container {
  margin: 0 4%;
  display: flex;
}

.details_container div {
  margin: 0.5em 0.5em;
}

.details {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
}

.details_side {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.details_side div {
  margin: 5%, 5%;
}

.related-anime,
.tag_container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin: 1em, 1em;
}
