.search_results {
  margin: 20px auto;
  border: 1px solid #ccc;
  overflow-y: auto; /* Enable vertical scrollbar when needed */
  max-height: 200px; /* Set a max height for the list */

  list-style-type: none;
}

.search_results li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  
}


.loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }